*{
    font-family: courier;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

li {
    line-height: 1.5;
}